.fondo {
    background: linear-gradient(217deg,
            rgba(255, 0, 0, 0.8),
            rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}


.img-thumbnail {
    background-color: wheat;
    height: 300px;
    width: 300px;


}

.img-thumbnail:hover {
    background: black;
    transition: background-color 2s;
}

.titulo {
    color: purple;
    border-color: black;
}

.nombres {
    color: blueviolet;
}