<div class=" body">
    <br>
    <br>
    <br>
    <div class="imagen ">
        <img class="foto" src="https://i.scdn.co/image/ab67706f00000002a0e620f37066ef4ed51e3067" alt="">

    </div>

    <div class="titulo">
        <h4>Cupido</h4>

        <h6>Tini</h6>

    </div>

    <br>
    <br>
    <br>

    <div class=" iconos">

        <div class="volumen">
            <i class="bi bi-volume-up"></i>

        </div>

        <div class="izquierda">
            <i class="bi bi-chevron-bar-right"></i>
        </div>


        <div class="play">
           <button class="boton"><i class="bi bi-play-fill"></i></button> 
        </div>

        <div class="derecha">
            <i class="bi bi-chevron-bar-left"></i>
        </div>

        <div class="repetir">
            <i class="bi bi-repeat"></i>
        </div>

    </div>
    <div class="linea">
       ______________________
    </div>

    <br>
    <br>
    <br>

</div>