<div class="row body ">
    <br>

    <br>

    <br>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mi-3 distancia">

        <div class="card mb-2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                        class=" rounded-start" alt="..." >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Top 10</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mi-3 distancia  ">

        <div class="card mb-2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                        class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Mi dia</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    
    <br>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Salsa</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Merengue</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Cumbia</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Metal</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Rock</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Romanticas</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">
        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Bachata</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Reggeton</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">
        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Urbanos</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Electronica</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Soul</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Country.</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Pop</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Trap</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Yoga</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Tecno</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Disco</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Reggae</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>




    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Funk</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Flamenco</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Jazz</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Hip hop/Rap</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 distancia">

        <div class="card mb-2 card2">
            <div class="row g-0">
                <div class="col-8">
                    <img src="https://ph-files.imgix.net/bb7ef26a-ed91-41fb-a065-9e4d4d0e67b6.png?auto=format"
                    class=" rounded-start" >
                </div>
                <div class="col-4">
                    <div class="card-body">
                        <h5 class="card-title">Ranchera</h5>
                        <div class="triangulo">
                            <button class="boton " ><i class="bi bi-play-fill "> </i></button> 
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>